# 1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). 

a. Concatenate the two tuples and store it in “t_combine”

b. Repeat the elements of “t_combine” 3 times 

c. Access the 3rd element from “t_combine”

d. Access the first three elements from “t_combine”

e. Access the last three elements from “t_combine”

# a. Concatenate the two tuples and store it in “t_combine”

In [1]:
tuple1=(10,20,30)
tuple2=(40,50,60) 
b=tuple1+tuple2
print("Tuple1=: ",tuple1)
print("Tuple2=: ",tuple2)
print("combine tuple: ",b)

Tuple1=:  (10, 20, 30)
Tuple2=:  (40, 50, 60)
combine tuple:  (10, 20, 30, 40, 50, 60)

# B. Repeat the element of combine tuple 3 times.

In [2]:
combine_tuple= (10, 20, 30, 40, 50, 60)
# a=combine_tuple+combine_tuple+combine_tuple
a= combine_tuple*3
print("Final Tuple: ",a)

Final Tuple:  (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [10]:
combine_tuple= (10, 20, 30, 40, 50, 60)
b=combine_tuple*3
print(b)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

# C. Access the 3rd element from “t_combine”

In [3]:
print("Tuple: ",combine_tuple)
print("The third element of tuple: ",combine_tuple[2])

Tuple:  (10, 20, 30, 40, 50, 60)
The third element of tuple:  30

# D. Access the first three elements from “t_combine”

In [4]:
print("Tuple: ",combine_tuple)
print("The first three elements tuple is: ",combine_tuple[0:3])

Tuple:  (10, 20, 30, 40, 50, 60)
The first three elements tuple is:  (10, 20, 30)

# E. Access the last three elements from “t_combine"

In [5]:
print("Tuple: ",combine_tuple)
print("The last three elements tuple is: ",combine_tuple[3:6])

Tuple:  (10, 20, 30, 40, 50, 60)
The last three elements tuple is:  (40, 50, 60)

# 2. Create a list ‘my_list’ with these elements: 
a. First element is a tuple with values 1,2,3

b. Second element is a tuple with values “a”,”b”,”c”

c. Third element is a tuple with values True,False

In [6]:
#a. First element is a tuple with values 1,2,3

my_list=[(1,2,3),("a","b","c"),("True","False")]
print("my_List: ",my_list)

my_List:  [(1, 2, 3), ('a', 'b', 'c'), ('True', 'False')]

# 3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list

In [7]:
my_list.append((1,"a","true"))
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), ('True', 'False'), (1, 'a', 'true')]

# Create a dictionary ‘fruit’ where: 
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)

#b. The second key is ‘Cost’ and the values are (85,54,120,70) 

#c. Extract all the keys from ‘fruit’

#d. Extract all the values from ‘fruit’

In [8]:
dict1={"fruit":("Apple","Banana","Mango","Guava"),"cost":(85,54,120,70),}
print(dict1)

{'fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'cost': (85, 54, 120, 70)}

In [9]:
dict1.keys()

dict_keys(['fruit', 'cost'])

In [10]:
dict1.values()

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [11]:
dict1.items()

dict_items([('fruit', ('Apple', 'Banana', 'Mango', 'Guava')), ('cost', (85, 54, 120, 70))])

In [12]:
dict1["M"]="Mohit"
print(dict1)

{'fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'cost': (85, 54, 120, 70), 'M': 'Mohit'}

# 5.Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [41]:
my_set={1,1,'a','a','true',"true"}
print(my_set)

{1, 'a', 'true'}

Creating a `DataFrame` using dictionary

In [14]:
import pandas as pd
pd.DataFrame(dict1)

    fruit  cost      M
0   Apple    85  Mohit
1  Banana    54  Mohit
2   Mango   120  Mohit
3   Guava    70  Mohit