# how to create a list containing squares of numbers from 1 to 10.

In [1]:
square=[a**2 for a in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
n=1
while n<=10:
    print("square of" ,n,"is",n*n)
    n=n+1

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81
square of 10 is 100

In [6]:
inpt=list(range(1,11))
def squ (inpt):
    square=[]
    for i in inpt:
        square.append(i**2)
    return square
print(squ(inpt))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
input = list (range(1,11))

def sqr(input):
    square =[]
    for i in input:
        square.append(i**2)
    return square

print(sqr(input))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
x=[x*x for x in range (1,41)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [18]:
for x in range (1,41):
    x=x*x*x
    print(x,end=" ")

1 8 27 64 125 216 343 512 729 1000 1331 1728 2197 2744 3375 4096 4913 5832 6859 8000 9261 10648 12167 13824 15625 17576 19683 21952 24389 27000 29791 32768 35937 39304 42875 46656 50653 54872 59319 64000

In [24]:
for j in range(1,11):
    j=j*3
    print(j,end=" ")

3 6 9 12 15 18 21 24 27 30

In [23]:
for x in range (1,11):
    x=x*4
    print(x,end=" ")

4 8 12 16 20 24 28 32 36 40

# Write a Function to check if year number is a leap year

2000 is leap year
2008 is a leap year
2100 or 1900 is not leap year
year div by 400= leap year
year div by 4 but not by 100= leap year

In [20]:
year = int(input("Enter the Year"))
if year%400==0:
    print(year,"is a leap year")
elif year%4==0 and year%100!=0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the Year2008
2008 is a leap year

In [24]:
year = int(input("Enter the Year"))
if year%400==0:
    print(year,"is a leap year")
elif year%4==0 and year%100!=0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the Year2016
2016 is a leap year

In [21]:
year = int(input("Enter the Year"))
if year%400==0:
    print(year,"is a leap year")
elif year%4==0 and year%100!=0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the Year2000
2000 is a leap year

In [22]:
year = int(input("Enter the Year"))
if year%400==0:
    print(year,"is a leap year")
elif year%4==0 and year%100!=0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the Year1900
1900 is not a leap year

In [23]:
year = int(input("Enter the Year"))
if year%400==0:
    print(year,"is a leap year")
elif year%4==0 and year%100!=0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter the Year2100
2100 is not a leap year

# Write a Function to take an array and return another array that contains the members of first array that are even.

In [11]:

def function1():
    array1=[]
    n=int(input("Enter the lenghth of Array1:"))
    i=0
    while i<n:
        
        array1.append(int(input("Enter the value of Array1: ")))
        i+=1
    print("Array1= ",array1)
    array2=[]    
    for x in array1:
        if x%2==0:
            array2.append(x)
    return array2
A=function1()
print("Array of Even Numbers=",A)

Enter the lenghth of Array1:12
Enter the value of Array1: 231
Enter the value of Array1: 12
Enter the value of Array1: 554
Enter the value of Array1: 145
Enter the value of Array1: 655
Enter the value of Array1: 4584
Enter the value of Array1: 452
Enter the value of Array1: 124
Enter the value of Array1: 145
Enter the value of Array1: 1232
Enter the value of Array1: 123
Enter the value of Array1: 1452
Array1=  [231, 12, 554, 145, 655, 4584, 452, 124, 145, 1232, 123, 1452]
Array of Even Numbers= [12, 554, 4584, 452, 124, 1232, 1452]

In [12]:

def function1():
    array1=[]
    n=int(input("Enter the lenghth of Array1:"))
    i=0
    while i<n:
        
        array1.append(int(input("Enter the value of Array1: ")))
        i+=1
    print("Array1= ",array1)
    array2=[]    
    for x in array1:
        if x%2==0:
            array2.append(x)
    return array2
A=function1()
print("Array of even Nombers=",A)

Enter the lenghth of Array1:6
Enter the value of Array1: 212
Enter the value of Array1: 454
Enter the value of Array1: 4141
Enter the value of Array1: 52
Enter the value of Array1: 111
Enter the value of Array1: 123
Array1=  [212, 454, 4141, 52, 111, 123]
Array of even Nombers= [212, 454, 52]

# Write a Function that takes 2 arrays and prints the members of first array that are present of second array.

In [16]:
def function2():
    array1=[]
    n=int(input("Enter the length of Array1: "))
    i=1
    while i<=n:
        array1.append(int(input("Enter the value: ")))
        i+=1
    print("Array1= ",array1)
    array2=[]
    m=int(input("Enter the length of Array2: "))
    j=1
    while j<=m:
        array2.append(int(input("Enter the value: ")))
        j+=1
    print("Array1= ",array1)
    print("Array2= ",array2)
    for x in array1:
        if x in array2:
            print(x)
B=function2()
print(B)

Enter the length of Array1: 6
Enter the value: 12
Enter the value: 10
Enter the value: 23
Enter the value: 14
Enter the value: 15
Enter the value: 16
Array1=  [12, 10, 23, 14, 15, 16]
Enter the length of Array2: 17
Enter the value: 8
Enter the value: 10
Enter the value: 20
Enter the value: 15
Enter the value: 14
Enter the value: 16
Enter the value: 22
Enter the value: 54
Enter the value: 23
Enter the value: 156
Enter the value: 45
Enter the value: 41
Enter the value: 56
Enter the value: 417
Enter the value: 4584
Enter the value: 45
Enter the value: 745
Array1=  [12, 10, 23, 14, 15, 16]
Array2=  [8, 10, 20, 15, 14, 16, 22, 54, 23, 156, 45, 41, 56, 417, 4584, 45, 745]
10
23
14
15
16
None