# Task to be performed :

1. Create a list named 'mylist' that is having the following elements: 10,20,30 'apple',true,8.10.
* Now in the 'mylist' append these values:30,40.
* After that reverse the elements of the 'mylist' and store that in 'reversedlist'

In [1]:
#Creating A list named "mylist"
mylist=[10,20,30,'apple',True,8.10]
print(mylist)

[10, 20, 30, 'apple', True, 8.1]

In [2]:

#Appending the element in the list:
mylist.append(30)
mylist.append(40)
print(mylist)

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [3]:
# Reversing the elements of the list:
mylist.reverse()
mylist

[40, 30, 8.1, True, 'apple', 30, 20, 10]

2. Create a dictionary with key as 1,2,3 and values as 'data','information',and 'text'.
* After that eliminate the 'text' value from the dictionary.
* Add 'features' in the dictionary.
* Fetch 'data' from the dictionary and display it in the output.

In [4]:
# Creating a dictionary:
Dict={1:'data',2:'information',3:'text'}
print("Dictionary :",Dict)

Dictionary : {1: 'data', 2: 'information', 3: 'text'}

In [5]:
#Eliminating the "text" value from the dictionary:
Dict.pop(3)
print(Dict)

{1: 'data', 2: 'information'}

In [6]:
# Adding the element "features" in the dictionary:
Dict[3]='features'
print(Dict)

{1: 'data', 2: 'information', 3: 'features'}

In [7]:
# feaching the element "data":
Dict[1]

'data'

3. Create a tuple and these elements 1,2,3,apple,mango in my_tuple.

In [8]:
# Creating a Tuple:
my_tuple=(1,2,3,'apple','mango')
print('mytuple :',my_tuple)

mytuple : (1, 2, 3, 'apple', 'mango')

4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50.
* Find the minimum value from the numeric_tuple.
* Concatenate my_tuple with numeric_tuple and store the result in r1.
* Duplicate the tuple named numeric_tuple 2 time and store in 'newdupli'.

In [9]:
#Creating a another tuple:
numeric_tuple=(10,20,30,40,50)
print('numeric tuple :',numeric_tuple)

numeric tuple : (10, 20, 30, 40, 50)

In [17]:
# to finding the minimum element from the tuple:
a=min(numeric_tuple)
print("minimum element of tuple:\n",a)

minimum element of tuple:
 10

# Other way to find the minimum element from a tuple:

In [1]:
# Creating a tuple:
tup1=(34,56,7,89,56,5,92)
# Finding the min value from the tuple:
min=tup1[0]
for i in tup1:
    if i<min:
        min=i
print("minimum value of tuple:\n",min)

minimum value of tuple:
 5

In [22]:
#concatenate my_tuple with numeric_tuple and store the result in r1.
# to concatenate a tuple first we have to change it to the list and the make sum of those list to concatenate and again change that concatenated list to a tuple.
a=list(my_tuple)
b=list(numeric_tuple)

x=a+b
r1=tuple(x)
print("concatenated tuples:",x)

concatenated tuples: [1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50]

In [23]:
# Duplicate the tuple named numeric_tuple 2 time and store in 'newdupli'
d=list(numeric_tuple)
newdupli=d*2
print("newdupli",newdupli)

newdupli [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

5. Create 2 sets with name set1 and set2, where set1 contains {1,2,3,4,5}and set2 to contains{2,3,7,6,1}

  a.  Perform the below opertions:
* set1 union set2
* set1 intersection set2
* set1 difference set2

In [12]:
# Creating Sets:
set1={1,2,3,4,5}
set2={2,3,7,6,1}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}

In [13]:
#applying the operations:
union=set1.union(set2)
intersection=set1.intersection(set2)
difference=set1.difference(set2)
difference1=set2.difference(set1)



print(union)
print(intersection)
print(difference)
print(difference1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4, 5}
{6, 7}